.test-div,
.test-div.ng-hide-remove.ng-hide-remove-active,
.test-div.ng-hide-add {
  height: 100px;
  width: 100px;
  background-color: lightblue;
  transition: all linear 1s;
}

.test-div.ng-hide-add.ng-hide-add-active,
.test-div.ng-hide-remove {
  height: 0;
}

.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
}

.job-submit-list,
.job-reserved-list {
  height: 600px;
  width: 100%;
  max-width: 200px;
  border: 1px solid grey;
}

.area-divider {
  margin-top: 10px;
  color: grey;
  margin-bottom: 50px;
}

.degree-content {
  width: 100%;
  max-width: 300px;
  border: 1px solid grey;
  margin-left: 20px;
}

.cpu-content {
  height: 100%;
  width: 100%;
  max-width: 300px;
  border: 1px solid grey;
}

.normal {

}

.suspend {
  background-color: #F44336;
  filter:blur(1px);
  -webkit-filter:blur(1px);
  -ms-filter:blur(1px);
  opacity: 0.5;
}

.divider-text {
  margin-left: 10px;
}

.suspend-btn {
  float: right;
}