.test-div,
.test-div.ng-hide-remove.ng-hide-remove-active,
.test-div.ng-hide-add {
  height: 100px;
  width: 100px;
  background-color: lightblue;
  transition: all linear 1s;
}

.test-div.ng-hide-add.ng-hide-add-active,
.test-div.ng-hide-remove {
  height: 0;
}

.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
}

.job-submit-list,
.job-reserved-list {
  height: 500px;
  width: 100%;
  max-width: 200px;
  border: 1px solid grey;
  margin-left: 5px;
}

.area-divider {

}

.divider-text {
  margin-left: 20px;
  font-size: large;
}

.degree-content {
  border: 1px solid grey;
  margin-left: 5px;
  height: 500px;
  width: 750px;
}

.cpu-content {
  height: 255px;
  width: 250px;
  border: 1px solid grey;
  margin-left: -5px;
}

.normal {

}

.suspend {
  background-color: #F44336;
  filter:blur(1px);
  -webkit-filter:blur(1px);
  -ms-filter:blur(1px);
  opacity: 0.5;
}

.waiting {
  background-color: #2196F3;
  filter:blur(1px);
  -webkit-filter:blur(1px);
  -ms-filter:blur(1px);
  opacity: 0.5;
}

.suspend-btn {
  float: right;
}

.terminated-list {
  height: 245px;
  width: 250px;
  border: 1px solid grey;
  margin-left: -5px;
}

.degree-card {
  width: 300px;
  height: 200px;
}

.displayBody {
  width: 100%;
}

.ram-content {
  border: 1px solid black;
  margin-top: 5px;
  margin-left: 5px;
  width: 99%;
}

.ram-body{
  display: flex;
  width: 100%;
}

.ram-sec-free {
  background-color: #C1C2C1;
  width: 100px;
  border-right: solid 1px black;
  border-top: solid 1px black;
  height: 65px;
  min-width: 100px;
  color: black;
}

.ram-sec-using {
  background-color: #2E7DF6;
  width: 100px;
  border-right: solid 1px black;
  border-top: solid 1px black;
  height: 65px;
  min-width: 100px;
  color: white;
}